@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.home{
    align-items: center;
    text-align: left;
    justify-content: center;
    min-height: fit-content;
    background-image: url('../src/Assets/Home/Background.jpg');
    padding: 35px 0;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}
li.nav__items{
    font-size: 18px;
    padding-bottom: 10px;
}

.header{
    transition: .4s all ease;
}
.header.active{
    position:fixed;
    z-index: 1000;
    width: 100%;
    margin-top: -50px;
    padding: 0 25px;
    background-color: #1b0a637e;
}
.toggle__menu {
    display: flex;
    justify-content: flex-end;
    float: right;
    z-index: 1000;
    width: 100%;
}
ul.sidebar.d__flex {
    flex-wrap: wrap;
    height: 100%;
    position: fixed;
    right: 0%;
    background-color: #1a0a63de;
    justify-content: center;
    width: 100%;
    top: 0%;
    flex-direction: column;
}
li.sideNavbar{
    padding: 35px 35px;
    overflow: hidden;
    display: none;
    font-size: 20px;
}
.sideNavbar{
    display: none;
}
.toggle__menu{
    display: none;
}
.navigation.pxy__30 {
    display: initial;
}

/*.HeroContainer{
    background-color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    height: 800px;
    position: relative;
    z-index: 1
}
.HeroBg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}
.VideoBg{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a32;
}*/

.profile-parent{
    display: flex;
    align-items: center;
    
        
}
.profile-details-name{
    display: flex;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 45px;
}

.profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 5px 0 14px 0;

}

.profile-details-role h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.p-text{
    color: (--white);
    font-size: 25px;
    margin-left: 100px;
}

.h-text{
    color: var(--white);
    font-weight: bold;
    font-size: 45px;
    color: rgba(32, 30, 30, 0.88);
    
}

.profile-role-tag{
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Profile-option{

    margin-left: 10%;
}

.highlighted-btn{
    margin: 0 0 0 50px;
}
.btn.highlighted-btn{
    height: 0.5%;
    width: 220px;
    padding: 25px 0;
}
.highlighted-btn:hover{
    margin: 0 0 0 30px;
    background-color: rgb(137, 128, 192);
    color: #111;
}

.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 var(--dark-blue);
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin-left: 300px;
    
    
}

.profile-picture-b{
    height: 92%;
    width: 92%;
    background-image: url("../src/Assets/Home/profile.jpg");
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-picture-b:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}
.icons{
    text-decoration: none;
    color: rgb(117, 154, 209);
    float: right;
    margin: -50px 170px 0 0;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
    
}
.icons ion-icon:hover{
    color: #5984d4;
}
.colz-icon{
    color: #13161c;
    height: 25px;
    margin-left: 145px;
}
.colz-icon2{
    color: #13161c;
    height: 25px;
    margin-left: 25px;
}
.typical-text{
    margin-left: 45px;
    margin-bottom: 10px;
    color: #000000;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px){
 .header{
     justify-content: space-between;
 }
 .navigation.pxy__30 {
        display: none;
    }
 .header.active{
    margin-top: -50px;
    height: 60px;
 }
 .toggle__menu{
    display: initial;
 }
 li.sideNavbar{
    display: initial;
 }
 .sideNavbar{
    display: initial;
    text-align: center;
}
.p-text{
    margin-left: 50px;
}
.home{
    min-height: -10px;
}
 
 
h2.white.pz__10 {
    font-size: 50px!important;
}
svg.bi.bi-justify.white.pointer {
    width: 30px;
    height: 30px;
}
}
@media only screen and (max-width: 425px){
    h2.home__text.pz__10{
    font-size: 32px;
}
h3.sweet.pz__10 {
    font-size: 40px;
}
h1.home__text {
    font-size: 14px;
}
h4.home__text {
    font-size: 45px;
}

@media only screen and (max-width: 375px) {
    /* Adjust the styles for iPhone SE size here */
    .profile-picture-b{
        height: 150px;
        width: 150px;
        margin-bottom: 250px;
    }
    .profile-parent {
      margin: 50px 0 0 0;
    }
    .profile-options {
      flex-direction: column;
    }
    .profile-details-name {
      margin-left: 0;
      margin-top: -200px;
    }
    .Profile-option {
      margin-left: 0;
    }
    .btn.highlighted-btn{
        max-height: 50px;
        max-width: 200px;
    }
  }

}
@media only screen and (max-width: 1110px){
    .profile-picture{
        margin: 0 0px 0 20px;
    }
    .profile-details-name{
        font-size: 20px;
    }
    .profile-details-role .p-text{
        font-size: 20px;
    }
    .profile-options .btn{
        width: 120px;
        padding: 11px 0;
        z-index: 700;
    }
}
@media only screen and (max-width: 910px){
    .profile-picture{
        height: 320px;
        width: 320px;
        margin: 0 0 0 4px;
    }
    
    
}


@media only screen and (max-width: 810px){
    .profile-picture{
        margin: 0 !important;
    }
    .profile-parent{
        flex-direction: column-reverse;
        margin: 70px 0 0 0;
    }
    .profile-options{
        display: flex;
        justify-content: space-between;
    }
    .profile-details{
        margin: 25px 0 0;
    }
    .profile-options .h-text{
        margin:0 !important;
    }
    
    .profile-details-role{
        text-align: center;
    }
    .profile-details-name{
        margin-left: 35px;
    }
    .Profile-option{
        margin-left: 85px;
    }
    .colz-icon{
        justify-content: center;
        margin-bottom: 20px;
    }
    .colz-icon2{
        margin-bottom: 20px;
    }
    .btn.highlighted-btn{
        padding: 30px 0;
    }
}